{{extend 'layout.html'}}

<!-- MIGAS DE PAN SIEMPRE VAN AL PRINCIPIO=========================================================== -->
    <ol class="breadcrumb">
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Preferencias</a></li>
        <li class="active">Colores</li>
    </ol>
<!-- =========================================================== -->

<!-- TITULOS=========================================================== -->
    <div class="page-header">
        <h1>Encabezado de página<br><small>con un texto secundario</small></h1>
    </div>
    <header class="jumbotron">
        <!-- header start -->
        <h1>Bienvenido<br><small>El Sistema Contable mas perro</small></h1>
        <p>Desde cualquier lugar<br>¡Software tan rico como el pozol!</p>
        <a href="#" class="btn btn-large btn-info">Información</a> 
        <a href="#" class="btn btn-large btn-warning">Advertencia</a> 
        <a href="#" class="btn btn-large btn-danger">No entrar +18</a> 
        <a href="#" class="btn btn-large btn-success">Iniciar</a>
   </header>
<!-- CONTENIDO================================================== -->
    <aside>
        <article>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
 
            <p class="lead">Este texto debe sobresalir.</p>
 
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </article>
    </aside>
<!-- =========================================================== -->