<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- Diseno tipo nexus -->
        <link rel="stylesheet" type="text/css" href={{=URL('static','nexus/component.css')}} />
  <!-- fin diseno tipo nexu -->

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <!--<li class="gn-search-item">
                                <input placeholder="Search" type="search" class="gn-search">
                                <a class="gn-icon gn-icon-search"><span>Search</span></a>
                            </li>-->
                            <li>
                                <a class="gn-icon gn-icon-photoshop" href="{{=URL('asiento','listar')}}">Asientos <b class="caret"></b></a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon-photoshop">Nuevo</a></li>
                                    <li><a class="gn-icon gn-icon-illustrator">Ver</a></li>
                                </ul>
                            </li>
                            <li><a class="gn-icon gn-icon-cog">Libro diario</a></li>
                            <li>
                                <a class="gn-icon gn-icon-archive">Reportes <b class="caret"></b></a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon-article">Balanza</a></li>
                                    <li><a class="gn-icon gn-icon-pictures">Balance general</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-archive">Catálogos <b class="caret"></b></a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon-article" href="{{=URL('cc_empresa','listar')}}">Cuentas</a></li>
                                    <li><a class="gn-icon gn-icon-pictures">Empleados</a></li>
                                    <li><a class="gn-icon gn-icon-pictures">Proveedores</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="gn-icon gn-icon-archive">Configurar <b class="caret"></b></a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon-article">Usuarios</a></li>
                                    <li><a class="gn-icon gn-icon-pictures">Grupos</a></li>
                                    <li><a class="gn-icon gn-icon-pictures">Permisos</a></li>
                                    <li><a class="gn-icon gn-icon-article" href="{{=URL('empresa','listar')}}">Empresa</a></li>
                                </ul>
                            </li>
                        </ul>
                </nav>
            </li>
            <li><a href="{{=URL('default','index')}}"><span  class="glyphicon glyphicon-home"></span> <span id="span-inicio">Inicio</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <span  id="span-sesion">Perfíl</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{=URL('default','user/login')}}">Iniciar sesión</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Cerrar sesión</a></li>
                </ul>
          </li>
        </ul>
    </nav>
    <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-xs-12">
                {{include}}
            </div>
        </div>
        <!-- Footer ================================================== -->
        <div class="row">
            <div class="col-xs-12" style="margin-top:20px;">
                <footer class="footer">
                    <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                    <div id="poweredBy" class="pull-right">
                        {{=T('Powered by')}}
                        <a href="#">web2py</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
    <script src="{{=URL('static','nexus/classie.js')}}"></script>
    <script src="{{=URL('static','nexus/gnmenu.js')}}" ></script>
    <script>
        new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>  
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
</body>
</html>

